<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.20001220703125, 782.79998779296875}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-02-22 07:08:21 +0000</string>
	<key>Creator</key>
	<string>Naoya Yanagawa</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{395.94289340179637, 304.62871606297836}, {106.00737508080408, 67.293190002441406}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>307</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{381.62689649677856, 298.03675148430938}, {134.639404296875, 76.499519348144531}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>308</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{42.632382421494754, 215.4342147579157}, {472.28250122070312, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>306</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \'8e\'9f\'81\'58\'82\'c6\'97\'ac\'82\'ea\'82\'c4\'82\'ad\'82\'e9\'8f\'e1\'8a\'51\'95\'a8\'82\'f0\'82\'a9\'82\'ed\'82\'a2\'82\'e7\'82\'b5\'82\'a2\'83\'4c\'83\'83\'83\'89\'83\'4e\'83\'5e\'81\'5b\'82\'aa\'94\'f2\'82\'d1\'89\'7a\'82\'a6\'82\'c4\'8d\'73\'82\'ab\'81\'41\'82\'c7\'82\'b1\'82\'dc\'82\'c5\'82\'a2\'82\'af\'82\'e9\'82\'a9\'82\'f0\'8b\'a3\'82\'a4\'83\'51\'81\'5b\'83\'80\'82\'c5\'82\'b7\'81\'42\'82\'b1\'82\'cc\'83\'51\'81\'5b\'83\'80\'82\'c9\'82\'cd\'83\'58\'83\'52\'83\'41\'82\'aa\'82\'a0\'82\'e8\'81\'41\'92\'b7\'82\'a2\'8e\'9e\'8a\'d4\'91\'96\'82\'e8\'91\'b1\'82\'af\'82\'e7\'82\'ea\'82\'e9\'82\'c6\'8d\'82\'82\'a2\'93\'be\'93\'5f\'82\'aa\'8e\'e6\'82\'ea\'82\'dc\'82\'b7\'82\'aa\'81\'41\'8f\'e1\'8a\'51\'95\'a8\'82\'c9\'88\'f8\'82\'c1\'82\'a9\'82\'a9\'82\'e9\'82\'c6\'8c\'b8\'93\'5f\'82\'b3\'82\'ea\'82\'c4\'82\'b5\'82\'dc\'82\'a2\'82\'dc\'82\'b7\'81\'42\
\'82\'c7\'82\'b1\'82\'dc\'82\'c5\'8f\'6f\'97\'88\'82\'e9\'82\'a9\'98\'72\'8e\'8e\'82\'b5\'81\'49\'81\'49}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{56.647058877401349, 304.97312871539197}, {106.61005401611328, 66.948768615722656}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>303</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{42.632382450583464, 298.03672859612578}, {134.639404296875, 76.499519348144531}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>304</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{305.29620969430823, 627.59348839366066}, {205.11354064941406, 122.50994873046875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>302</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{223.60000582844233, 300.65109390754441}, {112, 71.270805358886719}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>301</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{302.29376578874616, 448.45098134600948}, {208.11600747026944, 116.25018310546875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>300</integer>
			<key>ImageID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{50.394470350939933, 630.72333478286282}, {205.11354064941406, 116.25018310546875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>299</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{374.35178657871307, 600.80059430272422}, {64, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>298</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 \'83\'4e\'83\'89\'83\'58\'90\'7d}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{96.229559826143955, 600.80059794557371}, {112, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>297</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 \'83\'86\'81\'5b\'83\'58\'83\'50\'81\'5b\'83\'58\'90\'7d}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{358.35177860562101, 416.89071432388613}, {96, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>296</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 \'83\'56\'81\'5b\'83\'50\'83\'93\'83\'58\'90\'7d}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{49.672789053938615, 188.23372835950607}, {100, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>20</real>
			</dict>
			<key>ID</key>
			<integer>295</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs40 \cf0 \'83\'51\'81\'5b\'83\'80\'90\'e0\'96\'be}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{112.95124418758515, 416.89070824113054}, {80, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>293</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 \'89\'e6\'96\'ca\'91\'4a\'88\'da\'90\'7d}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{49.672789428202975, 448.4509999754552}, {205.11354064941406, 116.25018310546875}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>292</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{288.66107851692755, 591.6160289311722}, {235.38133239746094, 169.00502014160156}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>290</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Opacity</key>
			<real>0.19696970283985138</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.8</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.19696970283985138</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{35.157577342799641, 591.61604378513061}, {235.38133239746094, 169.00502014160156}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>291</integer>
			<key>ImageID</key>
			<integer>6</integer>
			<key>Opacity</key>
			<real>0.095959596335887909</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.304417</string>
						<key>g</key>
						<string>0.597681</string>
						<key>r</key>
						<string>0.381567</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>45</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.269169</string>
						<key>g</key>
						<string>0.86247</string>
						<key>r</key>
						<string>0.424628</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.095959596335887909</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{288.6611170075978, 407.46074587014027}, {235.38133239746094, 169.00505065917969}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>51</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Opacity</key>
			<real>0.30000001192092896</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.318379</string>
						<key>g</key>
						<string>0.379171</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>39</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.0687572</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.30000001192092896</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{35.157577996170772, 407.46080663656295}, {235.38133239746094, 169.00502014160156}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>49</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.447574</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.123231</string>
						<key>g</key>
						<string>0.742428</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{332, 22.899087992672492}, {208.11600747026944, 126.39900207519531}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>RoundRect</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;\f1\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs40 \cf2 \'83\'60\'81\'5b\'83\'80
\f1 H\
\pard\pardeftab720

\f0\fs30 \cf2 \'8f\'ac\'93\'6e\'8d\'4c\'98\'61\'81\'40\'90\'56\'8a\'5f\'91\'e5\'92\'6e\
\'96\'f6\'90\'ec\'92\'bc\'96\'e7\'81\'40\'8d\'82\'8b\'7b\'8f\'e9\'8e\'c0\'96\'ce\
\pard\pardeftab720\sa240

\fs32 \cf2 \'89\'cd\'96\'ec \'91\'ec\'96\'e7
\fs24 \
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{9.8216552734375373, 16.098585111772152}, {309.84677124023438, 140}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>0</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>DFMaruGothic-SB-MP-RKSJ-H</string>
				<key>Size</key>
				<real>50</real>
			</dict>
			<key>ID</key>
			<integer>285</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg932\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 DFMaruGothic-SB-MP-RKSJ-H;}
{\colortbl;\red255\green255\blue255;\red255\green128\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs140 \cf2 \'82\'b5\'82\'dc\'82\'deRUN}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{37.57879638671875, 171.59440231323242}, {484.04244940505873, 223}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>15</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image14.png</string>
		<string>image13.png</string>
		<string>image12.png</string>
		<string>image11.png</string>
		<string>image10.png</string>
		<string>image9.png</string>
		<string>image8.png</string>
		<string>image7.png</string>
		<string>image6.png</string>
		<string>image5.tiff</string>
		<string>image4.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>レイヤー 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-02-22 13:49:40 +0000</string>
	<key>Modifier</key>
	<string>Naoya Yanagawa</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.20001220703125, 841.79998779296875}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>キャンバス 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>FitInWindow</key>
		<true/>
		<key>Frame</key>
		<string>{{299, 30}, {1006, 738}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-289, 0}, {1138.5526208411789, 783.00002282877858}}</string>
		<key>Zoom</key>
		<real>0.76500636339187622</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>キャンバス 1</string>
				<real>0.0</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
